.list-cell {
    -fx-background-color: transparent;
}
.list-view {
    -fx-background-color: transparent;
}
.list-view .scroll-bar {
    -fx-background-color:transparent;
}
.list-view .increment-button ,.list-view .decrement-button {
    -fx-background-color:transparent;
    -fx-border-color:transparent;
}
.list-view .scroll-bar .thumb {
    -fx-background-color: #ffffff;
    -fx-background-insets: 5, 5, 5;
    -fx-background-radius: 5;
}
.pane {
    -fx-background-color: rgba(188, 188, 188, 0.7);
}